body,
.controls {
  background-color: #000;
  color: rgb(242, 174, 28)
}

.quoteItem {
  background-color: rgb(142, 195, 213);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color:#000;
  border-radius: 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 2rem;
  border: 3px solid rgb(242, 174, 28);
  background-color: transparent;
  border-radius: 30px;
  padding: 1em;
}

button:hover {
  background-color: rgb(242, 174, 28);
}
.liked {
  background-color: rgb(242, 174, 28);
}
.liked button {
  border: 3px solid lightblue;
}
.liked button:hover {
  background-color: lightblue;
}

.right {
  flex-direction: row-reverse;
}

img {
  height: 150px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

input {
  font-size:1.5rem;
  border-radius: 30px;
  border:none;
  padding:0.2em 1em;
  outline:none;
  text-align: center;
  margin-bottom: 1em;
  width: 80%;
  max-width: 400px;
}

h2 {
  text-align: center;
}
